body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    background-color: #fcfcfc; 
}

/* Animasi Ikon Hamburger */
#nav-icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
}

#nav-icon.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* Utility Classes */
.bento-card { 
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.bento-card:hover { 
    transform: translateY(-5px); 
}
.hidden-item {
    display: none;
}

/* Gaya untuk tombol pagination */
#pagination-numbers button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Transisi halus saat hover tombol panah */
button svg {
    transition: transform 0.2s ease;
}

button:hover svg {
    transform: scale(1.1);
}

#product-grid {
    transition: opacity 0.3s ease-in-out;
}